%h1 Edit question
= form_tag '/update_question',method: :get do
  .row
    .col-md-6
      .form-group
        %label{:for => ""} Content
        = text_field_tag 'question[content]', @question['content'], class: 'form-control'
        = hidden_field_tag 'id', @question['id']
        = submit_tag 'OK'
