.container
  %h1
    Questions
  = link_to 'New question', new_question_path
  %br
  %br
  .questions
    - if @questions.present?
      - @questions.each do |question|
        = link_to question_path(question['id']) do
          .question
            = question['content']
            .answers
              - question['answers'].each do |answer|
                = answer['content']