%h1 New question
= form_tag(controller: 'questions', action: 'create', method: 'post') do |f|
  .row
    .col-md-6
      .form-group
        %label{:for => ""} Content
        = text_field_tag 'question[content]', nil, class: 'form-control'
        = submit_tag 'OK'
